[submodule "tetris-FrancisL0001"]
	path = tetris-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/tetris-FrancisL0001.git
[submodule "airportweather-FrancisL0001"]
	path = airportweather-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/airportweather-FrancisL0001.git
[submodule "requirementschecker-FrancisL0001"]
	path = requirementschecker-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/requirementschecker-FrancisL0001.git
[submodule "musictour-FrancisL0001"]
	path = musictour-FrancisL0001
	url = https://github.com/brown-agentic-studio-spr26/musictour-FrancisL0001
[submodule "metaphors-FrancisL0001"]
	path = metaphors-FrancisL0001
	url = https://github.com/brown-agentic-studio-spr26/metaphors-FrancisL0001
[submodule "chat-client-FrancisL0001-1"]
	path = chat-client-FrancisL0001-1
	url = git@github.com:brown-agentic-studio-spr26/chat-client-FrancisL0001-1.git
[submodule "semester-end-reflection-tasks-FrancisL0001"]
	path = semester-end-reflection-tasks-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/semester-end-reflection-tasks-FrancisL0001.git
