[submodule "tetris-FrancisL0001"]
	path = tetris-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/tetris-FrancisL0001.git
[submodule "airportweather-FrancisL0001"]
	path = airportweather-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/airportweather-FrancisL0001.git
[submodule "requirementschecker-FrancisL0001"]
	path = requirementschecker-FrancisL0001
	url = git@github.com:brown-agentic-studio-spr26/requirementschecker-FrancisL0001.git
[submodule "musictour-FrancisL0001"]
	path = musictour-FrancisL0001
	url = https://github.com/brown-agentic-studio-spr26/musictour-FrancisL0001
